* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
}

html, body{
 scroll-behavior: smooth;
}

html {
  /* mặc định 1rem = 16px */
  font-size: 62.5%; /* 1rem = 10px  */
}

body {
  font-size: 1.6rem; /* 1.6rem = 16px */
  font-family: "Poppins", sans-serif;
}

/* Common */
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Header */
.fixed-header{
  background-color: #e6f0ff;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}

.hero-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 90px);
  background-color: #e6f0ff;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0 ;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .actions {
  margin-left: auto;
}

.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

/* Hero */

.hero-wrap .info {
  width: 51%;
}

.hero-wrap .sub-title {
  font-size: 1.8rem;
  line-height: calc(1.5); /* 27px/18px */
  letter-spacing: 0.01rem;
  color: #687690;
}

.hero-wrap .title {
  margin-top: 8px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
  color: #000336;
}

.hero-wrap .desc {
  margin-top: 30px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #5a6473;
  line-height: calc(3.2 / 1.8);
}

.hero-cta {
  margin-top: 40px;
  min-width: 170px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* =====Client===== */
.clients {
  margin-top: 79px;
  padding: 43px 0 41px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .desc {
  font-weight: 500;
  color: #7d8589;
  line-height: calc(2 / 1.6);
}

.clients .images {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients .images a {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 42px;
  border-radius: 12px;
}

.clients .images a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* =====Guides===== */
.guides {
  margin-top: 40px;
  padding: 69px 0px 79px;
}

.guides .sub-title {
  text-align: center;
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 600;
  position: relative;
}

.guides .sub-title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 4.1rem;
  height: 0.4rem;
  border-radius: 1.2rem;
  background: #000339;
}

.guides .desc {
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: 400;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  width: 459px;
  max-width: 100%;
}

.guides .list-guide {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-style: 400;
  font-weight: 500;
  line-height: 1.1; /* 110% */
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #0689ff;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
}

/* =====Features===== */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.featured .row {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

/* ===== List ====== */
.featured .list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.featured .item {
  flex: 1;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .list .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.featured .item .desc {
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 8px;
  letter-spacing: 0.14px;
}

/* Stats */
.stats {
  margin-top: 75px;
  padding: 50px 0px;
}

.stats .content {
  padding: 50px 0 0 0;
  width: 1048px;
  /* background-color: orange; */
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

/* avatar-block */
.stats .avatar-group {
  display: flex;
}

.stats .avatar-block {
  display: flex;
  /* margin-left: -4px; */
  padding-top: 26px;
  flex-wrap: wrap;
  gap: 16px 14px;
}

.avatar-group > .avatar:first-child {
  margin-left: 0px;
}

.stats .avatar {
  margin-left: -4px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
}

.stats .info {
  padding: 79px 0 69px 165px;
}

.stats .stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0 0 12px 12px;
  background-color: #fff;
}

.stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.26px;
}

.stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.stats-trend .separate {
  margin-top: 25px;
  height: 1.2px;
  background: #e9e9e9;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
}

.stats .sub-title::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}

.stats .info .desc {
  margin-top: 20px;
  width: 309px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

/* Quantity */
.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.stats .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}

.stats .qty-desc {
  margin-top: 24px;
  color: #7b8087;
  font-size: 18px;
  font-weight: 500;
}

/* subscription */
.subscription {
  margin-top: 90px;
}

.subscription .body {
  display: flex;
  align-items: center;
  position: relative;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}

.subscription .body .info {
  padding: 0 80px;
  width: 671px;
  max-width: 100%;
}

.subscription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5; /* 100% */
}

.subscription .desc {
  margin-top: 15px;
  color: #fff;
  opacity: 0.75;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.subscription .btn {
  margin-top: 20px;
  min-width: 151px;
  height: 50px;
  color: #002366;
  border-radius: 12px;
  background: #fff;
}

.subscription .body .image {
  position: absolute;
  left: 671px;
}

/* footer */
.footer {
  margin-top: 55px;
  padding: 55px 0 58px;
}

.footer .row {
  display: flex;
}

.footer .row-top {
  column-gap: 185px;
}

.footer .heading {
  color: #1c1c1d;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.footer .list,
.footer .desc {
  margin-top: 42px;
  white-space: normal;
  line-height: 1.75;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}

.footer .desc {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7a7e;
  white-space: nowrap;
  line-height: 1.75;
}

.footer .social {
  display: flex;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background-color: #f9f9f9;
}

.footer .social-link:hover{
  background-color: #f9f9f977;
}

.footer .social-link + .social-link {
  margin-left: 16px;
 
}

.footer .social-link:hover {
  background-color: #ebebeb;
}

.footer .row-bottom {
  margin-top: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}
